* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 30px;
}

#gitform {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
}

#gitform>button {
    height: 40px;
    width: 80px;
    font-size: 18px;
    padding: 5px 15px;
    box-shadow: 2px 2px 5px black;
    border-radius: 0px 0px 5px 0px;
    text-transform: capitalize;
    outline: none;
    border: none;
 position: relative;
    right: 5px;
    background-color: orange;
    color: white;
}

#git-user-name {
    height: 40px;
    width: 98vmin;
    padding: 5px 15px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    text-transform: capitalize;
    outline: none;
    border: none;
}

#user-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
   gap: 10px;
}

#user-details>aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-details>aside>img {
    width: 80%;
    max-width: 380px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px black;
}

#aboutme {
    padding: 80px 10px;
}
#aboutme>h1 {
    font-size: 35px;
    font-weight: 900;
    padding: 10px 0px;
    text-transform: capitalize;
}

#aboutme>h1>span {
    color: orange;
}

#aboutme>p {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0px;
    font-family: sans-serif;
}
.summary {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    padding: 20px 0px;
}

.summary>button {
    font-size: 18px;
    padding: 15px 15px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-weight: 700;
    background-color: orange;
    color: white;
}

.summary>button>span {
    font-weight: 500;
}
